<manifest xmlns:android="http://schemas.android.com/apk/res/android">
  <uses-permission android:name="android.permission.INTERNET" />

  <application
    android:label="@string/app_name"
    android:icon="@mipmap/ic_launcher"
    android:roundIcon="@mipmap/ic_launcher_round"
    android:allowBackup="true"
    android:supportsRtl="true"
    android:appCategory="game"
    android:isGame="true"
    android:theme="@style/Theme.Xemu">

    <!-- GameModeManager opt-in.  Without this resource, only "standard"
         and "custom" modes are selectable.  Declaring it advertises that
         we handle "performance" and "battery" modes, which lets users (and
         per-device Pixel/Asus defaults) get the corresponding system-wide
         perf hints.  See res/xml/game_mode_config.xml. -->
    <meta-data
      android:name="android.game_mode_config"
      android:resource="@xml/game_mode_config" />

    <activity
      android:name=".LauncherActivity"
      android:screenOrientation="fullSensor"
      android:exported="true">

      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>

      <intent-filter>
        <action android:name="android.intent.action.VIEW" />
        <category android:name="android.intent.category.DEFAULT" />
        <data android:scheme="content" />
        <data android:scheme="file" />
      </intent-filter>

      <intent-filter>
        <action android:name="android.intent.action.SEND" />
        <category android:name="android.intent.category.DEFAULT" />
        <data android:mimeType="*/*" />
      </intent-filter>
    </activity>

    <activity
      android:name=".MainActivity"
      android:screenOrientation="sensorLandscape"
      android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize|uiMode"
      android:hardwareAccelerated="true"
      android:process=":xemu"
      android:exported="false">

      <meta-data
        android:name="SDL_MAIN_LIBRARY"
        android:value="xemu" />
    </activity>

    <activity
      android:name=".SetupWizardActivity"
      android:screenOrientation="fullSensor"
      android:exported="false" />

    <activity
      android:name=".GameLibraryActivity"
      android:screenOrientation="fullSensor"
      android:exported="false" />

    <activity
      android:name=".SettingsActivity"
      android:screenOrientation="fullSensor"
      android:exported="false" />

    <activity
      android:name=".PerGameSettingsActivity"
      android:screenOrientation="fullSensor"
      android:exported="false" />

    <activity
      android:name=".XPackActivity"
      android:label="Mods"
      android:screenOrientation="fullSensor"
      android:exported="false" />

  </application>
</manifest>
